:root{
    --background-color: rgb(45, 45, 45);
    --text-color: rgb(255, 255, 255);
    --color-main: rgb(251, 192, 45);
    --background-color-article: rgb(61, 61, 61);
    --tagInfoStatusTrackLoad: rgba(200,200,200,.5);
    --bgtagInfoStatusTrackLoad: rgba(50, 50, 50, 0.5);
}